@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Iceland&family=Jersey+10&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-image: url(/imagens/tv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
a:link {
    color: yellow;
  }
  a:visited {
    color: yellow;
  }
  a:hover {
  color: red;
  }

h1 {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 700%;
    color: yellow;
    text-align: center;
    text-shadow: 0.025em 0.025em green;
    border: 2px solid green;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 2px solid green;
    background-color: black;
    height: 790px;
    font-family: "Jersey 10", serif;
    color: yellow;
    text-align: center;
  }

  #esquerda {
    border: 1px solid green;
    width: 25%;
    font-size: 350%;
    height: 100%;
  }

  .inicio {
    border: 1px solid green;
    padding: 5%;
  }
  .imagens {
    border: 1px solid green;
    padding: 5%;
  }
  .sites {
    border: 1px solid green;
    padding: 5%;
  }
  .fundo {
    border: 1px solid green;
    padding: 5%;
  }
  .logo {
    width: 80%;
    margin-top: 15%;
  }

  main {
    width: 54%;
    margin-top: -71%;
    margin-left: 25%;
    font-size: 230%;
    color: greenyellow;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  #direita {
    border: 2px solid green;
    width: 20%;
    font-size: 250%;
    margin-left: 80%;
    margin-top: -790px;
    height: 100%;
  }

  .classicos {
    border: 1px solid green;
    padding: 15px;
  }

  .animes {
    border: 1px solid green;
    padding: 15px;
  }
  .musica {
    border: 1px solid green;
    padding: 15px;
  }
  .games {
    border: 1px solid green;
    padding: 15px;
  }
  .aleatorios {
    border: 1px solid green;
    padding: 15px;
  }

  .recentes {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30px;
    padding: px;
    text-align: left;
  }

  .fernando {
    margin: 10px;
    padding-bottom: 10px;
  }

  .arabe {
    margin: 10px;
    padding-bottom: 10px;
  }
  
  .binladen {
    margin: 10px;
    padding-bottom: 10px;
  }

  .consoles {
    margin: 10px;
    padding-bottom: 10px;
  }
  .divisor {
    width: 100%;
    padding-top: 3%;
   }